body{
   background: #f2f2f2;
   margin:0;
  }


.container{
    height:100vh;
    width:100vw;
    
    background: green;
    display: grid;
    grid-template-areas:"header links"
                        "intro canva";
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 90vh;
}

.header{
    grid-area: header;
    background: #f2f2f2;
    
}

.intro{
    grid-area: intro;
    background: #f2f2f2;
    
}

.canva{
    grid-area: canva;
    /* background: #4193ce; */
    background:#f2f2f2;
}

.links{
    grid-area:links;
    background: #f2f2f2;
    align-items: center;
}

img{
    position: absolute;
    width: 24vh;
    overflow: hidden;
    left:65%;
    top:33%;
    animation: opacitying 3s ease-in;
    /* left:140vh;
    top:30vh; */
}

canvas{
    position: absolute;
    border: 1px solid black;
    height: 99%;
    width: 99%;
}

#c1{
    position: absolute;
    top:41%;
    left:53%;
    height: 42vh;
    width: 42vh;
    background-color: #78bbeb;
    border-radius: 50%;
    animation: grow 4s ease-in-out infinite alternate, opacitying 2s ease-in;
}

#c2{
    position: absolute;
    top:32%;
    left:68%;
    height: 56vh;
    width: 56vh;
    background-color: #4193ce;
    border-radius: 50%;
    animation: grow 3s ease-in-out infinite alternate, opacitying 2s ease-in;
}

#c3{
    position: absolute;
    top:20%;
    left:62%;
    height: 34vh;
    width: 34vh;
    background-color: #347db2;
    border-radius: 50%;
    animation: grow3 2s ease-in-out infinite alternate, opacitying 2s ease-in;
}


.name{
    position: absolute;
    top:30%;
    left: 13%;
    width: 60%;
    font-size: 8vh;
    font-family:Arial, sans-serif;
    animation: opacitying 2s ease-in, fromLeft 2s ease-in-out;
}

.para{
    position: absolute;
    top: 47%;
    left: 13.4%;
    width: 27%;
    font-size: 1.7vh;
    font-family: Arial, sans-serif;
    animation: opacitying 2s ease-in, fromBottom 2s ease-in-out;
   
}



ul{
    
    display: inline;
    padding: 10%;
    
    
}

a{
    text-decoration: none;
    color: black;
    padding: 5vh;
    font-size: 1.7vh;
    font-family: Arial, sans-serif;
    
}
.cornerItems{
    text-align: right;
    position: absolute;
    top:3%;
    right:3%;
    width: 80vh;
    animation: headerAnimations 2s ease-in-out, opacitying 2s ease-in;
  
}

.fullName{
    position: absolute;
    top:3%;
    left: 5%;
    font-size: 1.7vh;
    font-family: Arial, sans-serif;
    animation: opacitying 2s ease-in;
}



/* a:hover{
    color: #78bbeb;
} */
.homeL{
    color: #78bbeb;
}

@keyframes headerAnimations{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes opacitying{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fromLeft{
    from{
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes fromBottom{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes grow{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@keyframes grow2{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

@keyframes grow3{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#CVDownload{
    position: absolute;
    color: #78bbeb;
    top: 65vh;
    left: 74vh;
    font-size: 1.7vh;
    font-family: Arial, sans-serif;
    animation: opacitying 2s ease-in;
}

